
    body {
        background-color: #FF9B6A;

         }
    hr   {
        border-color: grey;
        border-style: none;
        border-top-style: dotted;
        width: 5%;
         }
    h3  {
        color:#66BFBF;

        }
    h1  {
        color:#66BFBF;

        }
